<h2>Por Continente</h2>
<hr />

<div class="row">
  <div class="col text-center">
    <!-- Searchbox -->
    <button
      class="btn mx-2"
      *ngFor="let region of regions"
      (click)="searchByRegionPage(region)"
      [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
    >
      {{ region }}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- Resultados -->
    <hr />
    <countries-table [countries]="countries"></countries-table>
  </div>

  <div *ngIf="countries.length !== 0">
    <button (click)="goBack()" class="btn btn-primary">Volver</button>
  </div>
</div>
