<h2>Por País</h2>
<hr />

<div class="row">
  <div class="col">
    <!-- Searchbox -->
    <shared-search-box
      (onDebounce)="searchByCountryPage($event)"
      placeholder="Spain"
    ></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- Resultados -->
    <hr />
    <countries-table [countries]="countries"></countries-table>
  </div>

  <h5 *ngIf="countries.length === 0" class="mt-2">Sugerencias</h5>
  <ul *ngIf="countries.length === 0">
    <countries-suggested-countries
      *ngFor="let item of suggestedCountries"
      [country]="item"
      (click)="searchByCountryPage(item)"
    ></countries-suggested-countries>
  </ul>

  <div *ngIf="countries.length !== 0">
    <button (click)="goBack()" class="btn btn-primary">Volver</button>
  </div>
</div>
