<div
  *ngIf="countries.length === 0; else table"
  class="alert alert-warning text-center"
>
  No hay paises que mostrar
</div>

<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Icóno</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img [src]="country.flags.svg" [alt]="country.name.common" />
        </td>
        <td>{{ country.name.common }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population | number }}</td>
        <td><a [routerLink]="['/countries/by/', country.cca3]">Info</a></td>
      </tr>
    </tbody>
  </table>

</ng-template>

<!--
  NOTAS:
  - Se puede hacer con ng-templase y else o con dos div ngIf
  - Envolvemos src y alt entre corchetes y los hacemos dinámicos, como una propiedad que recibe la info del padre.
-->
